@model DataTables.Models.Employee.ProjectModel

<h1 class="text-center mb-4">Add New Project</h1>
<form asp-controller="Project" asp-action="AddProjectData" method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="ProjectName">Project Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="ProjectName">
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="StartDate">Start Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" asp-for="StartDate">
            <span asp-validation-for="StartDate" class="text-danger"></span>

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="EndDate">End Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" asp-for="EndDate">
            <span asp-validation-for="EndDate" class="text-danger"></span>

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="Budget">Budget</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="Budget">
            <span asp-validation-for="Budget" class="text-danger"></span>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <a type="submit" class="btn btn-primary">Submit Form</a>
            
        </div>
    </div>
</form>
