@model DataTables.Models.Coffee.UserModel
<h1>@((Model?.UserID > 0) ? "Edit" : "Add") User</h1>

<form asp-controller="User" asp-action="SaveUser">
    @Html.HiddenFor(m => m.UserID)

    <div class="form-group row my-2">
        <label class="col-2" asp-for="UserName">User Name<span class="text-danger">*</span></label>
        <input asp-for="UserName" class="form-control col" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group row my-2">
        <label class="col-2" asp-for="Email">Email<span class="text-danger">*</span></label>
        <input asp-for="Email" class="form-control col" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group row my-2">
        <label class="col-2" asp-for="Password">Password<span class="text-danger">*</span></label>
        <input asp-for="Password" class="form-control col" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group row my-2">
        <label class="col-2" asp-for="MobileNo">Mobile No<span class="text-danger">*</span></label>
        <input asp-for="MobileNo" class="form-control col" />
        <span asp-validation-for="MobileNo" class="text-danger"></span>
    </div>
    <div class="form-group row my-2">
        <label class="col-2" asp-for="Address">Address<span class="text-danger">*</span></label>
        <input asp-for="Address" class="form-control col" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group row my-2">
        <label class="col-2" asp-for="IsActive">IsActive<span class="text-danger">*</span></label>
        <select asp-for="IsActive" class="form-control col">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <button type="submit" class=" btn @((Model?.UserID > 0) ?  "btn-success" :  "btn-primary")">@((Model?.UserID > 0) ? "Edit" : "Add")</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}