@model List<DataTables.Models.Employee.EmployeeProjectModel>

<a class="btn btn-primary mb-3" asp-controller="EmployeeProject" asp-action="AddEmployeeProject">Add EmployeeProject</a>
<table class="table">
    <thead>
        <tr>
            <th>EPID</th>
            <th>EID</th>
            <th>PID</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var e in Model)
            {
                <tr>
                    <td>@e.EPID</td>
                    <td>@e.EID</td>
                    <td>@e.PID</td>
                    <td><a class="btn btn-warning"><h5 class="bx bx-edit"></h5></a></td>
                    <td><a class="btn btn-danger"><h5 class="bx bxs-trash"></h5></a></td>
                </tr>
            }
        }
    </tbody>
</table>
